### A CI workflow template that runs linting and python testing

name: Test tap-csv

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
    - tap_csv/**
    - tap_csv/tests/**  # TODO: move this out of the package dir
    - poetry.lock
    - pyproject.toml
    - tox.ini
  pull_request:
    branches: [main]
    paths:
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
    - tap_csv/**
    - tap_csv/tests/**  # TODO: move this out of the package dir
    - poetry.lock
    - pyproject.toml
    - tox.ini
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  linting:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.x
    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: ">=0.4.20"
    - name: Run lint command from tox.ini
      run: |
        uvx tox -e lint

  pytest:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: ">=0.4.20"
    - name: Test with pytest
      run: |
        uvx tox -e py
